.o-card{
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -1px 62px 89px -49px rgba(0,0,0,0.75);
    width: 100vw;
    max-width: 500px;
    height: 800px;
    margin-top: 2em;
}

.o-cardSup{
    background-image: url('../../public/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o-cardSupInter{
    margin-top: 50px;
    color: #252388;
    display: grid;
    place-items: center;
}

.o-backgroundTitle{
    width: 80%;
    background: linear-gradient(90deg, rgba(255,103,103,0) 10%, rgba(255, 255, 255, 0.548) 50%, rgba(255,99,99,0) 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-date{
    font-size: 25px;
    font-weight: 500;
}

.o-tempSup{
    font-size: 60px;
    font-weight: 700;
}

.o-titleNameCity{
    font-size: 30px;
    font-weight: 700;
}

.o-cardSupBottom{
    display: flex;
    flex-direction: column;
    width: 52%;
    height: 6%;
}

.o-weather{
    background: rgb(156,96,248);
    background: linear-gradient(180deg, rgba(156,96,248,1) 10%, rgba(72,48,179,1) 50%, rgba(45,25,161,1) 90%);
    border-radius: 0 54px 54px 0px;
    height: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.o-errorCityName{
    font-size: large;
    font-weight: 800;
    color: rgb(72,48,179);
    background-color: rgb(250, 249, 174);
    border-radius: 5px;
    width: 50%;
}

/*parte inferior de la card*/
.o-cardInfContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.o-cardInf{
    color: #606060;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.o-Barinf{
    width: 90%;
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(122, 122, 122, 0.219);
}

.o-cardInfIzq{
    display: flex;
    flex-direction: row;
}

.o-cardInfIzq .nameMed{
    margin-left: 15px;
}

.o-cardInfDer{
    display: flex;
    flex-direction: row;
}

.o-iconImg {
    width: 35px;
    height: 35px;
}

.o-cardInfComponentsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
